{% extends 'welcome1.html' %}
{% block myContent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <table class="table table-striped">
                <center><h2>VIEW ALL STUDENT LIST</h2></center>
            <thead>
                <tr>
                    
                    <th>NAME</th>
                    <th>ADDRESS</th>
                    <th>CLASS</th>
                    <th>MOBILE NUMBER </th>
                    <th>USERNAME</th>
                    <th>PASSWORD</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                   
                    <td>{{i.name}}</td>
                    <td>{{i.address}}</td>
                    <td>{{i.sclass }}</td>
                    <td>{{i.mobile}}</td>
                    <td>{{i.username}}</td>
                    <td>{{i.password}}</td>
                {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
    </div>
</div>
{% endblock %}