<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
    crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 "></div>
            <div class="col col-12 col-sm-8 col-md-8 col-xl-8 col-xl-8 col-xxl-8">
                  
                {% if request.session.uname %} 
                <h2> STUDENT DETAILS </h2>

    
                <table class="table table-borderless">
             
                 <tr>
                        <td> Id </td>
                        <td>   ({{request.session.uid}})  </td>
                    </tr>
                    <tr>
                        <td> NAME </td>
                        <td> {{ request.session.uname }} </td>
                    </tr>
                    <tr>
                        <td> ADDRESS </td>
                        <td> {{ request.session.uaddress }} </td>
                    </tr>
                    <tr>
                        <td> CLASS </td>
                        <td> {{ request.session.uclass }} </td>
                    </tr>
                    <tr>
                        <td> MOBILE </td>
                        <td> {{ request.session.umobile }} </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="Summit" formaction="../update1/"  class="btn btn-success">CLICK</button></td>
                    </tr>

                    
             
                      
                
                </table>
                

    </div>
    <div class="col-12 col-2 col-sm-2 col-md-2 col-xl-2 col-xxl-2"></div>
 
</div>
</div>            
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script> 
</form>  
{% endif %}
</body>
</html>