<!DOCTYPE html>
<html lang="en">
<head>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> App</title>
</head>
<style>
  body{
   background:linear-gradient(#6a006a,#ebed71,#4fcff6); 
   height: 100vh; 
  }
  h1{
    background-color: rgb(101, 207, 240);
    color:#110d0d;
  }
</style>

<body >

  <h1> WELCOME TO SELLER PAGE </h1>
<nav class="navbar navbar-expand-lg navbar-dark  ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <img draggable="false" class="brand" src="/static/6th.png" alt="airtel" width="9%" height="5%"> -->
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
       <li class="nav-item dropdown">
        
          <a style="color: white;" class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         <strong>PROFILE</strong>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <!-- <li><a class="dropdown-item" href="../seller1/"> ADD NEW SELLER</a></li> -->
            <li><a class="dropdown-item" href="http://127.0.0.1:8000/manufacturer/viewallsseller1/">VIEW PROFILE </a></li> 
            <!-- <li><a class="dropdown-item" href="../searchseller/">SEARCH SELLER</a></li> -->
            <li><a class="dropdown-item" href="http://127.0.0.1:8000/sellerapp/update2/">CHANGE PASSWORD</a></li>
            <!-- <li><a class="dropdown-item" href="../delete1/">DELETE  SELLER</a></li> -->
            
          </ul>
        </li>
        
          <a style="color: white;"  class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/sellerapp/logoutadmin/" style="color: black;"><strong>LOGOUT</strong></a> 
       </div>
  </div>
</nav>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>
<br>
{% block myContent %} 


{% endblock %}