{% extends 'adminview1.html' %}
{% block myContent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col sm-2 col cd-2 col lg-2 col xl-2 col xxl-2"></div>
        <div class="col col-12 col sm-8 col cd-8 col lg-8 col xl-8 col xxl-8">
<form action="http://127.0.0.1:8000/sellerapp/updatesearch2/" method="POST">
            <table class="table table-borderless">
                <center><h2>CHANGE PASSWORD</h2></center>
                <tr>
                    <td><font color="black">Name</font></td>
                    <td><input name="name" placeholder="Enter the Update" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="Submit" class="class btn btn-warning">SEARCH</button></td>
                </tr>
            </table>
</form>
{%if data%}
<form action="http://127.0.0.1:8000/sellerapp/updateread2/" method="POST">
<table class="table table-borderless">
    {% for i in data %}
    <tr>
        <td></td>
        <td><input name="newid" value="{{i.id}}" type="hidden" class="form-control"></td>
    </tr>
    
    <tr>
        <td>Name</td>
        <td><input name="newname" value="{{i.name}}" type="text" class="form-control"></td>
    </tr>
    <!-- <tr>
        <td>Address</td>
        <td><input name="newaddress" value="{{i.address}}" type="text" class="form-control"></td>
    </tr>
    <tr>
        <td>Shop Name</td>
        <td><input name="newshopname" value="{{i.shopname}}" type="text" class="form-control"></td>
    </tr>
    <tr>
        <td>Mobile Number</td>
        <td><input name="newmobilenumber" value="{{i.mobilenumber}}" type="number" class="form-control"></td>
    </tr>
    <tr>
        <td>Username</td>
        <td><input name="newusername" value="{{i.username}}" type="text" class="form-control"></td>
    </tr> -->
    <tr>
        <td>Password</td>
        <td><input name="newpassword" value="{{i.password}}" type="text" class="form-control"></td>
    </tr>
    <tr>
        <td></td>
        <td><button type="Summit" class="btn btn-success">CHANGE</button></td>
    </tr>
    
{% endfor %}
</table>
</form>
</div>

{% endif %}
<div class="col col-12 col sm-2 col cd-2 col lg-2 col xl-2 col xxl-2"></div>
</div>
</div>
{% endblock %} 