<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- <link rel="stylesheet"  href="/static/background css/adminstyle.css"> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN PAGE</title>
</head>
<body background="https://www.wallpapertip.com/wmimgs/8-82164_soothing-background.jpg">
  <div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            
    <div class="login-box">
        <center><h1 style="font-style: italic;"> MANUFACTURER LOGIN</h1></center>
        <form action="http://127.0.0.1:8000/manufacturer/loginadmin/" method="POST">
        <div class="textbox">
          <strong><i class="fas fa-user">USERNAME</i></strong>
          <input type="text"  placeholder="username" name="username" class="form-control" >
          
        </div>
      
        <div class="textbox">
         <strong> <i class="fas fa-lock">PASSWORD</i></strong>
          <input type="password" placeholder="password" name="password" class="form-control" >
        </div>
      
        <center><input type="submit" class="btn btn-danger" value="Sign in" class="form-control"></center>
      </div>
      </form> 
    </div>
    <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>