{% extends 'adminview1.html' %}
{% block myContent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <table class="table table-striped">
                <center><h2>VIEW PROFILE</h2></center>
            <thead>
                <tr>
                    
                    <th>Name</th>
                    <th>Address</th>
                    <th>Shop Name</th>
                    <th>Mobile Number</th>
                    <th>Username</th>
                    <th>Password</th>
                  
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    
                    <td>{{i.name}}</td>
                    <td>{{i.address}}</td>
                    <td>{{i.shopname}}</td>
                    <td>{{i.mobilenumber }}</td>
                    <td>{{i.username}}</td>
                    <td>{{i.password}}</td>
                {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
    </div>
</div>
{% endblock %}
