<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
            <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                <table class="table">
                    <table class="borderless">
                    <h1> ADD BOOK FORM </h1>
                    <tr>
                        <td> Book Name </td>
                        <td><input placeholder="Enter the Book Name" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td> Author Name </td>
                        <td><input placeholder="Enter the Author Name" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td> Description </td>
                        <td><textarea placeholder="Enter the Description" name="" id="" cols="30" rows="10" class="form-control"></textarea></td>
                    </tr>
                    <tr>
                        <td> Publisher Name </td>
                        <td><input placeholder="Enter the Publisher Name" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td> Price </td>
                        <td> <input placeholder="Enter the Price" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td> User Name</td>
                        <td><input placeholder="Enter the User Name" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td> Password </td>
                        <td><input placeholder="Enter the Password" type="password" class="form-control"></td>
                    </tr>
                    <tr>
                        <td> Conform Password </td>
                        <td><input placeholder="Enter the password" type="password" class="form-control"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                        <center> <Button class="btn btn-danger">Submit</Button> </center></td>
                    </tr>
                </table>
            </div>
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        </div>
    </div>
</body>
</html>