<!DOCTYPE html>
<html lang="en">
<head>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> App</title>
</head>
<style>
  body{
   background:linear-gradient(#6a006a,#ebed71,#4fcff6); 
   height: 100vh; 
  }
  h1{
    background-color: rgb(255, 0, 0);
    color:#110d0d;
  }
</style>
<body >
  
  <h1> WELCOME TO DOCTOR PAGE </h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">WELCOME</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <a class="nav-link" href="../doctor/">View Register form</a>
                <a class="nav-link" href="../viewalldoctor1/">View All Doctor</a>
                <a class="nav-link" href="../searchdoctor/">Search Doctor</a>
                <a class="nav-link" href="../update1/">Update Doctor</a>
                <a class="nav-link" href="../delete1/">Delete Doctor</a>
                <a class="nav-link" href="http://127.0.0.1:8000/Home/home/">Home</a>
            </ul>
          </div>
        </div>
      </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>
{% block myContent %} 


{% endblock %}